<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender class="org.apache.log4j.ConsoleAppender" name="CONSOLE">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%t] %-5p %c %x - %m%n"/>
        </layout>
    </appender>

    <appender class="org.apache.log4j.RollingFileAppender" name="FILE">
        <param name="File" value="simple_user_management.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%t] %-5p %c %x - %m%n"/>
        </layout>
    </appender>

    <logger name="com.epam.coursess">
        <level value="DEBUG"/>
    </logger>

    <root>
        <priority value ="DEBUG"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>
